@import "../static/css/index.css";
body{
    margin: 0;
    font-family: Poppins;
    height: auto;
}
.container{
    width: 900px;
    margin: auto;
    max-width: 106vw;
    text-align: center;
    transition: transform .5s;
    margin-top: 219px;
}
.page__header {
    flex-direction: column;
    align-items: center;
    padding: 20px 0 0;
}
.nav1{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.logo{
    width: 134px;
    height: 94px;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
.navbar__menu ul {
    flex-wrap: wrap;
}

svg{
    width: 30px;
}

aside{
    display: none;
    width: auto;
    background-color: #e7e1d3;
    color: #eee;
    position: fixed;
    top: 0;
    left: -400px;
    bottom: 0;
    padding: 5px;
    height: 99%;
    display: grid;
    grid-template-rows: 201px 1fr 47px;
    transition: .5s;
    z-index: 5;
    list-style-type: none;
}

body aside.aside{
    left: 0px;
}
body aside ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin-right: 45px;
}


.icon-cart{
    margin-right: 5%;
    position: relative;
}
.icon-cart span{
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}
.title{
    font-size: xx-large;
}
.listProduct .item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}
.listProduct {
    margin: 171px 0 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
    color: #1b1b32;

}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
    margin-top: 7px;
}
.listProduct .item button{
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
}
.listProduct .item .itemdiv{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.listProduct .item .l{
list-style-type: none;
color: #927740;
background-color: #353432;
border-radius: 50%;
width: 16px;
height: 16px;
margin: 17px 12px 0 12px;
cursor: auto;
}


/* cart */
.cartTab{
    width: auto;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    padding: 5px;
    height: 99%;
    display: grid;
    grid-template-rows: 94px 1fr 70px;
    transition: .5s;
    z-index: 5;
}
body.showCart .cartTab{
    right: 0px;
}
body.showCart .container{
    transform: translateX(-250px);
}
.cartTab h1{
    margin: 26px 20px 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
.clear{
    margin-left: 57px;
    padding: 10px 20px;
}
.cartTab .close{
    background-color: #eee;
}
.cartTab button:hover{
    box-shadow: #b69292 0px 0px 20px 0px
}
.listCart .item img{
    width: 100%;
}
.listCart .item{
    display: grid;
    grid-template-columns: 70px 110px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
.listProduct .item button.color {
    background-color: #a6b2b4;
    color: #eee;
    padding:10px;
    border-radius: 50%;
}
.listProduct .item button.color:hover{
    border: #353432 2px solid;
}
.checkOut a{
    padding: 30px 58px;
}
footer {
    margin-top: 50px;
}

@media only screen and (max-width: 1145px) {
    .container{
        margin-top: 261px;
    }
    #aside__list #section0{
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    .navbar__menu{
        display: none;
    } 
    #minue{
        display: inline;
        cursor: pointer;
    } 
    body aside ul {
        flex-direction: column-reverse;
    }
    #aside__list2{
        flex-direction: column;
    }
    .on {
        background-color:#e7e1d3;
    }
    aside button:nth-child(3){
        background-color: #fce0e0;
        grid-area: 3 / 1 / 4 / 2;
        color: black;
    }
    .container{
        margin-top: 0;
        width: auto;
    }
    aside #aside__list2{
        border: 1px solid;
        border-color: transparent;
        border-top-color: black;
    }
    .page__header .connect {
        padding: 2%;
        margin: 0;
    }
    aside button:nth-child(3):hover {
        background-color: black;
        grid-area: 3 / 1 / 4 / 2;
        color: white;
    }
}
    

@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
        margin: 171px 5% 0 5%;
    }
}

/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
    #minue {
        margin: 0;
    }
}

@media only screen and (max-width: 400px) {
.page__header .connect {
    display: none;
}
#aside__list #section0{
    display: block;
}
aside {
    grid-template-rows: 28% 62% 10%;
}

}

.hi{
    margin-top:0px;
 }
