@import "../static/css/index.css";
body{
    margin: 0;
    font-family: Poppins;
    height: 1397px;
}
.container{
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}
.page__header {
    left: 0px;
    padding: 0;
}
.logo {
    margin: 7px 0 30px 85px;
    width: 145px;
    height: 91px;
}
a{
    text-decoration: none;
}
.navbar__menu #navbar__list{
justify-content: center;
}
.navbar__menu #navbar__list2 {
    padding-left: 0;
    margin: 16px -43px 0 -23%;
    display:none;
}
.listProduct a:hover{
    box-shadow: #b69292 0px 0px 15px 7px;
}
svg{
    width: 30px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.page__header .connect {
    margin: 0px 14px 30px 2%;
    width: 109px;
    padding: 15px 6px
}
.navbar__menu #navbar__list2 li:nth-child(4) {
    margin: 19px 0;
    }
.navbar__menu ul button{
    padding:1em;
}
.navbar__menu li:nth-child(4) .menu__link {
    padding:0;
}
.icon-cart{
    margin-right: 5%;
    position: relative;
}
.icon-cart span{
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}
.title{
    font-size: xx-large;
}
.listProduct .item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}
.listProduct {
    margin: 171px 0 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
    color: #1b1b32;

}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}
.listProduct .item button{
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
}

/* cart */
.cartTab{
    width: auto;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}
body.showCart .cartTab{
    right: 0;
}
body.showCart .container{
    transform: translateX(-250px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
.clear{
    margin-left: 57px;
    padding: 10px 20px;
}
.cartTab .close{
    background-color: #eee;
}
.cartTab button:hover{
    box-shadow: #b69292 0px 0px 20px 0px
}
.listCart .item img{
    width: 100%;
}
.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
.listProduct .item button.color {
    background-color: #a6b2b4;
    color: #eee;
    padding:10px;
    border-radius: 50%;
}
.listProduct .item button.color:hover{
    border: #353432 2px solid;
}
footer {
    margin-top: 50px;
}

@media only screen and (max-width: 1300px) {
.page__header .connect {
    width: 152px;
}
.navbar__menu #navbar__list2 {
    margin: 0px -43px 0 -45%;
}
}
@media only screen and (max-width: 1220px) {
    .page__header .connect {
        width: 152px;
    }
.navbar__menu #navbar__list2 {
    margin: 0px -43px 0 -48%;
    display: flex;
    /* width: 138%; */
    flex-wrap: wrap;
}
}

@media only screen and (max-width: 1200px) {
    .navbar__menu #navbar__list2 {
        margin: 0px -43px 0 -43%;
    }
    .logo {
        margin: -3px 0 60px 75px;
        width: 145px;
        height: 91px;
    }
}
@media only screen and (max-width: 1180px) {
.logo {
    margin: -3px 0 87px 75px;
}
.page__header .connect {
    margin: 0px -30px 60px 2%;
}
.navbar__menu #navbar__list2 {
margin: 0px -42px 0 -39%;}
}
@media only screen and (max-width: 1120px) {
    .page__header .connect {
        padding: 17px 16px;
    }
    .icon-cart {
        margin: -65px 5% 0 -21%;
    }
    .navbar__menu ul {
        padding-left: 0;
        margin: 0 0px 0 -33%;}
}
@media only screen and (max-width: 1100px) {
    .navbar__menu #navbar__list2 {
        margin: 0px -9px 0 -37%;
        width: 111%;
    }
    .page__header .connect {
        margin: 0px -31px 99px 2%;
    }
}
@media only screen and (max-width: 992px) {

    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width: 930px) {
    .icon-cart {
        margin: -73px 5% 0 -36%;
    }
    .page__header {
        padding: 0 24px;
    }
    .navbar__menu #navbar__list2 {
        width: 107%;
    }
   }
/*
@media only screen and (max-width: 880px) {
    
    .navbar__menu ul button {
     /*   display: none;*
    }
}*/
@media only screen and (max-width: 840px) {
   .navbar__menu #navbar__list2 {
        margin: 0px -14px 0 -30%;
        width: 89%;
    }
    .navbar__menu #navbar__list {
    align-items: center;
    }
    .navbar__menu ul {
        margin: 0 0px 0 -52%;
    }
    .page__header .connect {
        margin: 0px -31px 99px 0%;
        padding: 13px 2px;
    }
        .logo {
        margin: -8px 0 87px 32px;
    }
    .icon-cart {
        margin: -109px 11% 0 -64%;
    }
    }
        
/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
    .icon-cart {
        margin: -111px 7% 0 -55%;
    }
}

@media only screen and (max-width:650px) {
    .page__header {
            top: -15px;
    }
    .page__header .connect {
        width: 119px;
        margin: 36px -46px 28px -31%;
        padding: 13px 0px;
        z-index: 5;
    }
    .logo {
        margin: 2px 0 -17px -51%;
    }
    .icon-cart {
        margin: -2px -15% 0 -74%;
    }
.navbar__menu {
margin: -111px 19% 0 -60%;
}
    .navbar__menu #navbar__list2 {
        display:none;
        align-content: stretch;
        justify-content: flex-end;
        margin: -288% -13px 0 -151px;
        z-index: 6;
        width: 140px;
        background-color: antiquewhite;
        border: 3px solid;
        overflow: scroll;
        height: 392px;
    }
.navbar__menu #navbar__list  {
    background-color: antiquewhite;
    border: 3px solid;
    width: 122%;
    position: relative;
    margin: 1px -48px 0 -7%;
}   
.on{
    background-color: antiquewhite;
}


    #minue {
        margin: 70px 31px 29px;
    }
.navbar__menu ul .off {
    display: block;
}
.navbar__menu ul {
    margin: 0 -44px 0 -32%;
}
}

@media only screen and (max-width: 350px) {
    .page__header .connect {
        width: 22%;
        z-index: 5;
        margin: 0px -46px 99px -31%;
        padding: 13px 0px;
    }
    .logo {
        margin: 2px -38px 87px -51%;
    }
    .navbar__menu #navbar__list2 {
    position: relative;
    display: flex;
    left: 33%;
    top: 0px;
    width: 137%;
    }
      #minue {
        margin: 11px 31px 29px;
    }

        .icon-cart {
        margin: -106px -15% 0 -74%;
    }
        .navbar__menu #navbar__list {
        margin: 11px -29px 0 -7%;
    }
}
